<form class="p-grid" [formGroup]="newUserForm" (ngSubmit)="createUser()">
  <!-- TYPE -->
  <div class="p-col-2 p-offset-2">
    <p-radioButton name="type" [value]="true" formControlName="type" label="Coach"></p-radioButton>
  </div>
  <div class="p-col-2">
    <p-radioButton name="type" [value]="false" formControlName="type" label="Gérant"></p-radioButton>
  </div>
  <label class="global-form-label p-col-6">
    {{ formLabelValues.type }}
    <span class="global-form-required">*</span>
  </label>

  <!-- FIRSTNAME -->
  <div class="p-col-4 p-offset-2">
    <input formControlName="firstName" type="text" pInputText />
  </div>
  <label class="global-form-label p-col-6">
    {{ formLabelValues.firstName }}
    <span class="global-form-required">*</span>
  </label>

  <!-- LASTNAME -->
  <div class="p-col-4 p-offset-2">
    <input formControlName="lastName" type="text" pInputText />
  </div>
  <label class="global-form-label p-col-6">
    {{ formLabelValues.lastName }}
    <span class="global-form-required">*</span>
  </label>

  <!-- EMAIL -->
  <div class="p-col-4 p-offset-2">
    <input formControlName="email" type="text" pInputText />
  </div>
  <label class="global-form-label p-col-6">
    {{ formLabelValues.email }}
    <span class="global-form-required">*</span>
  </label>


  <!-- CATEGORY -->
  <div class="p-col-4 p-offset-2" *ngIf="newUserForm.get('type').value">
    <p-multiSelect [options]="teams" formControlName="teams" defaultLabel="Choisir ..."></p-multiSelect>
  </div>
  <label class="global-form-label p-col-6" *ngIf="newUserForm.get('type').value">
    {{ formLabelValues.teams }}
    <span class="global-form-required">*</span>
  </label>

  <div class="p-col-12 global-section-fill">
    <p class="global-font-danger global-margin-bottom">
      <i class="fas fa-exclamation-triangle"></i>
      Attention : Si l'utilisateur est un joueur de l'association, il doit s'inscrire via le formulaire d'inscription.
    </p>
    <p class="global-font-danger">
      Une fois l'inscription réalisée, vous pourrez le promouvoir gérant en le cherchant parmi les utilisateurs, ou l'affecter à une équipe en tant que coach.
    </p>
  </div>

  <p-toolbar class="p-col-12">
    <div class="ui-toolbar-group-right">
      <p-button (click)="close()" type="button" class="ui-button-info" label="Annuler" icon="fas fa-times"></p-button>
      <p-button type="submit" label="Valider" icon="fas fa-check" [disabled]="newUserForm.invalid"></p-button>
    </div>
  </p-toolbar>
</form>
