<div id="management-layout">
  <header id="management-layout-header">
    <img id="management-layout-header-logo" src="./assets/images/logo_asso.png" alt="logo">
    <span id="management-layout-header-text">Volley-ball BLR</span>
  </header>
  <div id="management-layout-sidenav-layout">
    <nav id="management-layout-sidenav">
      <ul
        class="management-layout-sidenav-group"
        *ngFor="let group of navItems"
      >
        <p class="management-layout-sidenav-group-title">
          {{ group.name }}
        </p>

        <li
          class="management-layout-sidenav-group-item"
          *ngFor="let item of group.content"
        >
          <a
            [routerLink]="['./' + item.route]"
            routerLinkActive="management-layout-sidenav-group-item-selected"
          >
            <i [ngClass]="[item.icon]"></i>
            <span>
              {{ item.name }}
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <div id="management-layout-main-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
