<div class="subscription-payment-mode-card">
  <div class="subscription-payment-mode-card-main">
    <span class="global-legend">Type</span>
    <p class="subscription-payment-mode-card-name">{{ subscriptionPaymentMode.namePaymentMode }}</p>
  </div>
  <p>Statut: {{ subscriptionPaymentMode.paid ? 'Payé' : 'En attente' }}</p>
  <p-button
    (onClick)="setPaymentModePaied()"
    label="Paiement reçu"
    icon="fas fa-check"
    *ngIf="!subscriptionPaymentMode.paid && enableEditOptions">
  </p-button>
  <p-button
    (onClick)="setPaymentModeUnpaied()"
    label="Annuler le paiement"
    icon="fas fa-times"
    class="ui-button-danger"
    *ngIf="subscriptionPaymentMode.paid && enableEditOptions">
  </p-button>
</div>
