<form (ngSubmit)="createTeam()" [formGroup]="teamForm">
  <div class="p-grid">
    <div class="p-col-4 p-offset-2">
      <input formControlName="name" type="text" pInputText>
    </div>
    <label class="global-form-label p-col-6">
      Nom de l'équipe
      <span class="global-form-required">*</span>
    </label>

    <div class="p-col-12 global-section-fill">
      <p class="global-font-warning global-margin-bottom">
        <i class="fas fa-exclamation-triangle"></i>
        Attention : Le nom de l'équipe va apparaître sur le site publique, et sur l'espace des joueurs/coachs.
      </p>
      <p class="global-font-warning global-margin-bottom">
        Veillez à ce qu'il contienne les informations suivantes : catégorie, sexe/mixité, numéro de l'équipe (si plusieurs dans la catégorie).
      </p>
      <p class="global-font-warning">
        Exemples: "M20 Homme 1", "Départementale Femme"
      </p>
    </div>

    <div class="p-col-4 p-offset-2">
      <p-dropdown formControlName="idTeamCategory" appendTo="body" [options]="categoryOptions" [filter]="true"></p-dropdown>
    </div>
    <label class="global-form-label p-col-6">
      Catégorie de compétition
      <span class="global-form-required">*</span>
    </label>

    <div class="p-col-4 p-offset-2">
      <p-dropdown formControlName="idCoach" appendTo="body" [options]="userOptions" [filter]="true"></p-dropdown>
    </div>
    <label class="global-form-label p-col-6">
      Coach
    </label>

    <div class="p-col-12 global-separation"></div>
    <p-toolbar class="p-col-12">
      <div class="ui-toolbar-group-right">
        <p-button (click)="close()" type="button" class="ui-button-info" label="Annuler" icon="fas fa-times"></p-button>
        <p-button type="submit" label="Valider" icon="fas fa-check" [disabled]="teamForm.invalid"></p-button>
      </div>
    </p-toolbar>
  </div>

</form>
