<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="module-container p-grid">
  <p-toolbar class="p-col-12">
    <div class="ui-toolbar-group-left">
      <p-button (click)="backNavigate()" type="button" label="Retour" icon="pi pi-arrow-left"></p-button>
      <p-button (click)="validateSubscription()" type="button" label="Valider l'inscription" class="ui-button-secondary" *ngIf="!subscription.validated"></p-button>
      <p-button type="button" label="Validée le {{ subscription.validationDate | date: 'shortDate' }}" class="ui-button-secondary" *ngIf="subscription.validated" [disabled]="true"></p-button>
      <p-button type="button" label="Renvoyer identifiants" class="ui-button-secondary" *ngIf="subscription.validated"></p-button>
    </div>
    <div class="ui-toolbar-group-right">
      <span class="global-legend">Inscription de {{ subscription.firstName + ' ' + subscription.lastName.toUpperCase() }}, faite le {{ subscription.creationDate | date: 'shortDate' }}</span>
      <p-button (click)="deleteSubscription()" type="button" label="Supprimer" icon="pi pi-trash" class="ui-button-danger" *ngIf="!subscription.validated"></p-button>
    </div>
  </p-toolbar>
  <p-tabView class="p-col-12">
    <p-tabPanel header="Fiche d'inscription">
      <div class="p-grid">
        <span class="p-col-3 global-legend">Prénom</span>
        <span class="p-col-5">{{ subscription.firstName }} {{ subscription.lastName | uppercase }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid">
        <span class="p-col-3 global-legend">Sexe</span>
        <span class="p-col-5">{{ subscription.gender ? 'Homme' : 'Femme' }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid">
        <span class="p-col-3 global-legend">Date de naissance</span>
        <span class="p-col-5">{{ subscription.birthDate | date: 'shortDate' }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid">
        <span class="p-col-3 global-legend">Nationality</span>
        <span class="p-col-5">{{ subscription.nationality }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid">
        <span class="p-col-3 global-legend">Numéro de téléphone</span>
        <span class="p-col-5">{{ subscription.phoneNumber }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid">
        <span class="p-col-3 global-legend">Adresse</span>
        <span class="p-col-5">{{ subscription.address }} - {{ subscription.city }} ({{ subscription.postcode }})</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid">
        <span class="p-col-3 global-legend">Catégorie demandée</span>
        <span class="p-col-5">{{ subscription.idCategory }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid">
        <span class="p-col-3 global-legend">Demande de tenue</span>
        <span class="p-col-5">{{ subscription.equipment ? 'Oui' : 'Non' }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid" *ngIf="subscription.equipment">
        <span class="p-col-3 global-legend">Numéro de maillot souhaité</span>
        <span class="p-col-5">{{ subscription.requestedJerseyNumber }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid" *ngIf="subscription.equipment">
        <span class="p-col-3 global-legend">Taille de haut</span>
        <span class="p-col-5">{{ topSize.name }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid" *ngIf="subscription.equipment">
        <span class="p-col-3 global-legend">Taille de pantalon</span>
        <span class="p-col-5">{{ pantsSize.name }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid">
        <span class="p-col-3 global-legend">Assurance complémentaire demandée</span>
        <span class="p-col-5">{{ subscription.insuranceRequested ? 'Oui' : 'Non' }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid">
        <span class="p-col-3 global-legend">Licence coach</span>
        <span class="p-col-5">{{ subscription.coach ? 'Oui' : 'Non' }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid">
        <span class="p-col-3 global-legend">Licence Arbitre</span>
        <span class="p-col-5">{{ subscription.referee ? 'Oui' : 'Non' }}</span>
        <span class="p-col-4"></span>
      </div>
      <div class="p-grid" *ngIf="subscription.comment">
        <span class="p-col-3 global-legend">Commentaire</span>
        <span class="p-col-5">{{ subscription.comment }}</span>
        <span class="p-col-4"></span>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Documents à joindre">
      <div class="p-grid">
        <span class="p-col-3 global-legend">Carte d'identité</span>
        <p-fileUpload
          class="p-col-5"
          customUpload="true"
          (uploadHandler)="uploadCNI($event)"
          accept="image/*"
          maxFileSize="1000000">
        </p-fileUpload>
        <div class="p-col-4">
          <p-button class="ui-button-secondary" label="Apperçu"></p-button>
        </div>
      </div>
      <div class="p-grid">
        <span class="p-col-3 global-legend">Certificat médical</span>
        <p-fileUpload
          class="p-col-5"
          customUpload="true"
          (uploadHandler)="uploadMedicalCertificate($event)"
          accept="image/*"
          maxFileSize="1000000">
        </p-fileUpload>
        <div class="p-col-4">
          <p-button class="ui-button-secondary" label="Apperçu"></p-button>
        </div>
      </div>
      <div class="p-grid">
        <span class="p-col-3 global-legend">Photo d'identité</span>
        <p-fileUpload
          class="p-col-5"
          customUpload="true"
          (uploadHandler)="uploadIdentityPhoto($event)"
          accept="image/*"
          maxFileSize="1000000">
        </p-fileUpload>
        <div class="p-col-4">
          <p-button class="ui-button-secondary" label="Apperçu"></p-button>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Paiement">
      Liste des modes de paiement.
    </p-tabPanel>
  </p-tabView>
</div>
