<div class="module-container p-grid">
  <p-toolbar class="p-col-12">
    <div class="ui-toolbar-group-left">
      <p-button (click)="backNavigate()" type="button" label="Retour" icon="pi pi-arrow-left"></p-button>
      <p-button type="button" label="Valider l'inscription" class="ui-button-secondary"></p-button>
      <p-button type="button" label="Renvoyer identifiants" class="ui-button-secondary"></p-button>
    </div>
    <div class="ui-toolbar-group-right">
      <p-button type="button" label="Supprimer" class="ui-button-danger"></p-button>
    </div>
  </p-toolbar>
  <div class="separation p-col-12"></div>
  <p>Banane</p>
</div>
