<div class="team-card-container p-grid" *ngIf="team">
  <div class="p-col-12" [class.p-xl-8]="enableMatchCalendar">
    <div class="p-grid global-section-fill">
      <h1 class="p-col-12">{{ team.teamName }}</h1>
      <span class="p-col-3 global-legend">Coach</span>
      <span class="p-col-3">{{ team.coachFullName }}</span>
      <span class="p-col-3 global-legend">Catégorie</span>
      <span class="p-col-3">{{ team.teamCategoryName }}</span>
    </div>
    <p-tabView>
      <p-tabPanel header="Effectif">
        <div>
          <app-team-players-list
            (selectPlayer)="openTeamPlayerEditDialog($event)"
            [players]="players"
            [idPlayerLeader]="team.idPlayerLeader"
            [enableEditionTools]="enableCoachOptions">
          </app-team-players-list>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Évolution">
        <div class="p-grid">
          <p-chart class="p-col-12" type="line" [options]="lineChartOptions" [data]="evolutionStats"></p-chart>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="p-col-12 p-xl-4" *ngIf="enableMatchCalendar">
    <div class="p-grid global-section no-padding">
      <div class="p-col-12 p-lg-6 p-xl-12 p-grid no-padding">
        <h3 class="p-col-6">Dernier match</h3>
        <div class="p-col-6 global-align-right" *ngIf="enableCoachOptions">
          <p-button (click)="openEventManagerDialog()" class="ui-button-info" label="Gérer les rencontres"></p-button>
        </div>
        <p-chart class="p-col-12" type="radar" [options]="radarChartOptions" [data]="lastMatchStats"></p-chart>
      </div>
      <div class="p-col-12 p-lg-6 p-xl-12 p-grid no-padding">
        <app-team-match-list
          class="p-col-12"
          [matches]="matches"
          [enableCoachOptions]="enableCoachOptions"
          [enableDriveOptions]="true"
          (matchChange)="refreshMatches()">
        </app-team-match-list>
      </div>
    </div>
  </div>
</div>
