// Import variables
@import "main-site-layout-variables";


// ----------------------------------------
// MAIN SITE LAYOUT VARIABLES :
// ----------------------------------------

div#main-site-layout {
  height: 100%;

  header#main-site-layout-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    img#main-site-layout-header-logo {
      width: 100px;
      margin-right: $global-spacing-large;
    }

    div#main-site-layout-title-section {
      display: flex;
      flex-direction: column;

      color: $global-contrast-font-active-color;

      span#main-site-layout-title {
        font-size: $global-font-size-giant;
      }

      span#main-site-layout-subtitle {
        font-size: $global-font-size-title;
      }
    }
  }

  nav#main-site-layout-nav {
    padding-top: 0px;
    padding-bottom: 0px;

    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;

      li.main-site-layout-nav-item {
        display: inline-block;

        a {
          display: block;
          padding: $global-element-padding-title;
          margin: 0px;

          color: $global-contrast-font-color;
          text-decoration: inherit;

          &:hover {
            background-color: $global-dark-active-color;
            color: $global-contrast-font-active-color;
          }

          &.main-site-layout-nav-item-selected {
            background-color: $global-dark-active-color;
            color: $global-contrast-font-active-color;
          }

          i {
            margin-right: $global-spacing;
          }
        }
      }
    }
  }

  div#main-site-layout-main-content {

  }

  footer#main-site-layout-footer {
    clear: both;
  }

  .main-site-layout-section {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding-left: calc(100% / 2 - 500px);
    padding-right: calc(100% / 2 - 500px);

    &.main-site-layout-section-primary {
      background-color: $global-bkg-color;
    }

    &.main-site-layout-section-secondary {
      background-color: $global-bkg-darker-color;
    }

    &.main-site-layout-section-accent {
      background-color: $global-accent-color;
    }

    &.main-site-layout-section-dark {
      background-color: $global-dark-color;
    }
  }
}
