<p-table [value]="players">
  <ng-template pTemplate="header">
    <tr>
      <th class="first-column"></th>
      <th>Maillot</th>
      <th>Joueur</th>
      <th>Poste</th>
      <th *ngIf="!hideLicenceNumbers">Numéro de licence</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-player>
    <tr (click)="onSelectPlayer(player)" [class.ui-selectable-row]="enableEditionTools">
      <th class="first-column">
        <i class="fas fa-crown" *ngIf="player.idPlayer === idPlayerLeader"></i>
      </th>
      <td class="global-align-center">{{ player.jerseyNumber }}</td>
      <td class="global-align-center">{{ player.firstName + ' ' + player.lastName.toUpperCase() }}</td>
      <td class="global-align-center">{{ player.positionName }}</td>
      <td class="global-align-right" *ngIf="!hideLicenceNumbers">{{ player.licenceNumber }}</td>
    </tr>
  </ng-template>
</p-table>
