// ----------------------------------------
// HEADER :
// ----------------------------------------

// Header :
$management-layout-header-height: 70px;
$management-layout-header-padding: 10px;
$management-layout-header-bkg-color: $global-dark-color;
$management-layout-header-font-color: #ffffff;
$management-layout-header-font-size: 24px;

// Logo :
$management-layout-header-logo-size: 70%;


// ----------------------------------------
// NAVIGATION :
// ----------------------------------------

// Nav :
$management-layout-nav-width: 250px;
$management-layout-nav-bkg-color: #fafafa;
$management-layout-nav-font-color: #000000;

// Nav group :
$management-layout-nav-group-bkg-color: inherit;
$management-layout-nav-group-font-color: inherit;
$management-layout-nav-group-font-size: 16px;
$management-layout-nav-group-border-color: #dadada;
$management-layout-nav-group-spacing: 10px;
$management-layout-nav-group-title-padding: 10px;

// Nav group item :
$management-layout-nav-group-item-padding: 10px;
$management-layout-nav-group-item-indentation: 20px;
$management-layout-nav-group-item-bkg-color: inherit;
$management-layout-nav-group-item-font-color: inherit;
$management-layout-nav-group-item-font-size: 14px;
$management-layout-nav-group-item-hover-bkg-color: #f0f0f0;
$management-layout-nav-group-item-hover-font-color: inherit;
$management-layout-nav-group-item-selected-bkg-color: inherit;
$management-layout-nav-group-item-selected-font-color: $global-accent-color;
$management-layout-nav-group-item-icon-size: 20px;


// ----------------------------------------
// MAIN CONTENT :
// ----------------------------------------

// Main content :
$management-layout-main-content-bkg-color: $global-primary-bkg-color;
$management-layout-main-content-font-color: #000000;
$management-layout-main-content-font-size: 16px;
