// ----------------------------------------
// MAIN COLORS :
// ----------------------------------------

$global-action-color: grey;
$global-accent-color: #00a69c;

$global-dark-color: #2b353e;
$global-success-color: #28a745;
$global-info-color: #f8f9fa;
$global-warning-color: #ffc107;
$global-danger-color: #dc3545;

$global-primary-bkg-color: #ffffff;
$global-primary-bkg-color: #ffffff;

$global-border-radius: 3px;


// ----------------------------------------
// ELEMENTS
// ----------------------------------------

// Buttons :
$global-button-padding: 5px;

$global-button-primary-bkg-color: $global-accent-color;
$global-button-primary-font-color: #ffffff;

$global-button-secondary-bkg-color: $global-info-color;
$global-button-secondary-font-color: $global-accent-color;

$global-button-success-bkg-color: $global-success-color;
$global-button-success-font-color: #000000;

$global-button-info-bkg-color: $global-info-color;
$global-button-info-font-color: #000000;

$global-button-warning-bkg-color: $global-warning-color;
$global-button-warning-font-color: #000000;

$global-button-danger-bkg-color: $global-danger-color;
$global-button-danger-font-color: #000000;
