<div id="login-layout">
  <div id="login-layout-background">
    <a
      id="login-layout-return-link"
      [routerLink]="['/main']"
    >
      <i id="login-layout-return-link-icon" class="fas fa-chevron-left"></i>
      <span id="login-layout-return-link-label">Retour au site</span>
    </a>
    <div class="login-layout-main-content" *ngIf="!recoverSuccessToggle">
      <form [formGroup]="passwordRecoverForm">
        <p
          class="login-layout-main-content-error-message"
          *ngIf="passwordRecoverErrorToggle">
          {{ passwordRecoverErrorMessage }}
        </p>
        <input
          formControlName="email"
          class="login-layout-main-content-field"
          placeholder="Adresse mail associée au compte"
          type="text"
        >
        <button
          id="login-layout-main-content-connection-button"
          (click)="sendPasswordRecoverRequest()"
          [disabled]="passwordRecoverForm.invalid"
        >
          Récupérer le mot de passe
        </button>
        <a id="login-layout-main-content-link" [routerLink]="['/login']">Retour</a>
      </form>
    </div>
    <div class="login-layout-main-content" *ngIf="recoverSuccessToggle">
      <p class="login-layout-main-content-message">
        L'email de récupération de votre mot de passe à été envoyé à l'addresse :
      </p>
      <p class="login-layout-main-content-message">{{ passwordRecoverForm.get('email').value }}</p>
      <p class="login-layout-main-content-message">
        Consultez votre boîte mail et suivez les instructions.
      </p>
      <p class="global-align-center">
        <p-button type="button" (click)="backToConnexion()" class="ui-button-info" label="Retour à la connexion" icon="fas fa-arrow-left"></p-button>
      </p>
    </div>
  </div>
</div>
