<div id="login-layout">
  <div id="login-layout-background">
    <a
      id="login-layout-return-link"
      [routerLink]="['/main']"
    >
      <i id="login-layout-return-link-icon" class="fas fa-chevron-left"></i>
      <span id="login-layout-return-link-label">Retour au site</span>
    </a>
    <div class="login-layout-main-content" *ngIf="!recoverSuccessToggle && !token">
      <form [formGroup]="passwordRecoverForm" (submit)="sendPasswordRecoverRequest()">
        <p
          class="login-layout-main-content-error-message"
          *ngIf="passwordRecoverErrorToggle">
          {{ passwordRecoverErrorMessage }}
        </p>
        <input
          formControlName="email"
          class="login-layout-main-content-field"
          placeholder="Adresse mail associée au compte"
          type="text"
        >
        <button
          id="login-layout-main-content-connection-button"
          [disabled]="passwordRecoverForm.invalid"
        >
          Récupérer le mot de passe
        </button>
        <a id="login-layout-main-content-link" [routerLink]="['/login']">Retour</a>
      </form>
    </div>
    <div class="login-layout-main-content" *ngIf="recoverSuccessToggle">
      <p class="login-layout-main-content-message">
        L'email de récupération de votre mot de passe à été envoyé à l'addresse :
      </p>
      <p class="login-layout-main-content-message">{{ passwordRecoverForm.get('email').value }}</p>
      <p class="login-layout-main-content-message">
        Consultez votre boîte mail et suivez les instructions.
      </p>
      <p class="global-align-center">
        <p-button type="button" (onClick)="backToConnexion()" class="ui-button-info" label="Retour à la connexion" icon="fas fa-arrow-left"></p-button>
      </p>
    </div>
    <div class="login-layout-main-content" *ngIf="!recoverSuccessToggle && token">
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <p
          class="login-layout-main-content-error-message"
          *ngIf="changePasswordForm.get('password').value !== changePasswordForm.get('confirmation').value">
          {{ changePasswordErrorMessage }}
        </p>
        <input
          formControlName="password"
          class="login-layout-main-content-field"
          placeholder="Nouveau mot de passe"
          type="password"
        >
        <input
          formControlName="confirmation"
          class="login-layout-main-content-field"
          placeholder="Confirmer le mot de passe"
          type="password"
        >
        <button
          id="login-layout-main-content-connection-button"
          [disabled]="changePasswordForm.invalid"
        >
          Changer le mot de passe
        </button>
        <a id="login-layout-main-content-link" [routerLink]="['/login']">Retour</a>
      </form>
    </div>
  </div>
</div>
