@import "src/assets/theme/variables";

.player-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $global-element-padding;
  user-select: none;

  .player-card-main {
    .player-card-gender {
      margin-right: $global-spacing;
    }

    .player-card-gender, .player-card-birth-date {
      font-size: $global-font-size-small;
      color: $global-disabled-font-color;
    }
  }

  .player-card-requested-category {
    white-space: nowrap;
    font-size: $global-font-size-small;
    font-style: italic;
    color: $global-disabled-font-color;
  }
}
