<div class="main-site-layout-section">
  <h1>
    Bienvenu(e)s sur le site du club de volley-ball de Bourg-la-reine !
  </h1>
  <p>
    La section Volley-ball fait partie du club omni-sport ASBR92 depuis 45 ans.
    Des tous petits jusqu’aux seniors en passant par de nombreuses équipes jeunes, du loisir détente au
    niveau pré-national, tous les âges, niveaux et catégories y sont représentés avec une priorité : que chacun
    y trouve son compte :)
  </p>
  <p>
    Les valeurs du club sont : l’esprit d’équipe, la convivialité, la formation des jeunes et la
    compétitivité pour les équipes engagées dans les différents championnats (féminins, masculins et mixtes)
    Le bureau est constitué d’une petite dizaine de membres,  président/secrétaire/trésorier et
    de personnes en charge des différentes tâches nécessaires au bon fonctionnement du club, tous bénévoles.
  </p>
  <p>
    Tous nos entraîneurs sont diplômés et motivés pour amener les joueurs vers leurs attentes de progression.
  </p>
  <p>
    Le club organise tous les ans des tournois sportifs de différents niveaux afin de se confronter aux autres clubs, ainsi que des événements festifs internes qui permettent aux adhérents des nombreuses équipes de se rencontrer et d’échanger pour mieux se
    connaître.
  </p>
  <p>
    N’hésitez pas à venir prendre contact avec nous via ce site dans l’onglet « contact », ou en passant
    directement nous voir aux heures d’entraînements dans les gymnases, vous y trouverez toujours quelqu’un
    qui se rendra disponible pour répondre avec plaisir à vos questions.
  </p>
  <p>
    À bientôt,<br>
    Le bureau de l’ASBR volley-ball
  </p>
</div>
