<div class="p-grid">
  <div class="p-col-4 p-offset-2">
    <p-dropdown #teamSelector [options]="teamOptions"></p-dropdown>
  </div>
  <div class="p-col-4">
    <p-button (onClick)="addTeamUsers(teamSelector.value)" class="ui-button-info" label="Ajouter les membres" icon="fas fa-plus" [disabled]="!teamSelector.value"></p-button>
  </div>
  <div class="global-separation p-col-12"></div>
  <p-pickList
    class="p-col-12"
    [sourceHeader]="config.data.sourceLabel"
    [source]="sourceUsers"
    [showSourceControls]="false"
    [targetHeader]="config.data.targetLabel + ' (' + targetUsers.length + ')'"
    [target]="targetUsers"
    [showTargetControls]="false"
    filterBy="firstName,lastName"
    dragdrop="true">
    <ng-template let-user pTemplate="item">
      <app-user-card
        [user]="user"
        [showEmail]="true">
      </app-user-card>
    </ng-template>
  </p-pickList>
  <div class="global-separation p-col-12"></div>
  <p-toolbar class="p-col-12">
    <div class="ui-toolbar-group-right">
      <p-button (onClick)="cancel()" class="ui-button-info" label="Annuler" icon="fas fa-times"></p-button>
      <p-button (onClick)="close()" label="Valider" icon="fas fa-check"></p-button>
    </div>
  </p-toolbar>
</div>
