@import "primeng-variables";

// ----------------------------------------
// CHECKBOX :
// ----------------------------------------

.ui-chkbox {
  border: 1px solid $prime-ng-input-border-color;
  border-radius: $prime-ng-input-border-radius;

  &:hover {
    border-color: $prime-ng-input-focus-color;
  }
}
