// ----------------------------------------
// DIALOG :
// ----------------------------------------

.ui-dialog-mask {
  background-color: $prime-ng-editor-mask-bkg-color;
}

.ui-dialog {
  border-radius: $prime-ng-dialog-border-radius;
  background-color: $prime-ng-dialog-bkg-color;
  max-width: 50vw;

  .ui-dialog-titlebar {
    border-top-left-radius: $prime-ng-dialog-border-radius;
    border-top-right-radius: $prime-ng-dialog-border-radius;
    border-bottom: 1px solid $prime-ng-dialog-titlebar-border-color !important;
    background-color: $prime-ng-dialog-titlebar-bkg-color;
    padding: $global-element-padding-title !important;
    font-size: $global-font-size-large;
    user-select: none;

    .ui-dialog-titlebar-icon {
      float: right;
    }
  }

  .ui-dialog-content {
    min-height: fit-content;
  }

  .ui-dialog-footer {
    border-top: 1px solid $prime-ng-dialog-titlebar-border-color;
  }
}
