// ----------------------------------------
// DROPDOWN :
// ----------------------------------------

.ui-dropdown {
  border: 1px solid $prime-ng-input-border-color;
  border-radius: $prime-ng-input-border-radius;
  color: $prime-ng-input-font-color;
  width: 100%;
  user-select: none;

  &.ui-state-focus {
    border-color: #00a69c;
  }

  &.ui-state-disabled {
    color: $global-disabled-font-color;
    background-color: $global-disabled-bkg-color;

    .ui-dropdown-label {
      color: $global-disabled-font-color;
    }
  }
}

.ui-dropdown-panel {
  background-color: $prime-ng-dropdown-wrapper-bkg-color;

  .ui-dropdown-items-wrapper {

    .ui-dropdown-list {
      padding: 0px;

      .ui-dropdown-item {
        color: $prime-ng-dropdown-wrapper-item-font-color;
        padding: $prime-ng-dropdown-wrapper-item-padding;
        margin: 0px;

        &:hover {
          background-color: $prime-ng-dropdown-wrapper-item-hover-bkg-color;
        }

        &.ui-state-highlight {
          background-color: $prime-ng-dropdown-wrapper-item-selected-bkg-color;
          color: $prime-ng-dropdown-wrapper-item-selected-font-color;
        }
      }
    }
  }
}
