// ----------------------------------------
// EDITOR :
// ----------------------------------------

.ui-editor-container {

  .ui-editor-toolbar {
    background-color: $prime-ng-editor-toolbar-bkg-color;
    border: 1px solid $prime-ng-editor-border-color;
    border-top-left-radius: $prime-ng-editor-border-radius;
    border-top-right-radius: $prime-ng-editor-border-radius;
  }

  .ui-editor-content {
    background-color: $prime-ng-editor-bkg-color;
    border: 1px solid $prime-ng-editor-border-color;
    border-top: none;
    border-bottom-left-radius: $prime-ng-editor-border-radius;
    border-bottom-right-radius: $prime-ng-editor-border-radius;
  }
}
