// ----------------------------------------
// FLEXGRID :
// ----------------------------------------

.p-grid {
  margin: 0px !important;

  > * {
    padding: $prime-ng-flexgrid-item-space-between !important;
  }

  &.no-padding > * {
    padding: 0px !important;
  }
}
