@import "primeng-variables";

// ----------------------------------------
// GALLERIA :
// ----------------------------------------

.ui-galleria {
  background-color: black;
  text-align: center;
  .ui-panel-images {
    width: 100%;
  }
}
