// ----------------------------------------
// GALLERIA :
// ----------------------------------------

.ui-galleria {
  background-color: $prime-ng-galleria-bkg-color;
  text-align: center;
  .ui-panel-images {
    width: 100%;
  }
}
