// ----------------------------------------
// INPUTTEXT :
// ----------------------------------------

.ui-inputtext {
  border: 1px solid $prime-ng-input-border-color;
  border-radius: $prime-ng-input-border-radius;
  padding: $prime-ng-input-padding !important;
  font-size: $prime-ng-input-font-size;
  color: $prime-ng-input-font-color;
  width: 100%;
  font-family: $prime-ng-input-font-family !important;
  // Textarea :
  resize: none;

  &:focus {
    border-color: $prime-ng-input-focus-color;
  }

  &:disabled {
    user-select: none;
  }
}
