// ----------------------------------------
// MEGAMENU :
// ----------------------------------------

.ui-megamenu {
  background-color: transparent;
  padding: 0px !important;
  .ui-menuitem {

    .ui-menuitem-link {
      padding: $prime-ng-mega-menu-item-padding;
      color: $prime-ng-mega-menu-item-font-color;
      font-size: $prime-ng-mega-menu-item-font-size;

      &:hover {
        background-color: $prime-ng-mega-menu-item-hover-bkg-color;
        color: $prime-ng-mega-menu-item-hover-font-color;
      }

      .ui-menuitem-icon {
        margin-right: $prime-ng-mega-menu-item-icon-margin;
      }
    }
  }

  .ui-megamenu-panel {
    background-color: $prime-ng-mega-menu-panel-bkg-color;
    top: inherit !important;
    padding: 0;
    box-shadow: inherit;
    border-bottom-left-radius: $prime-ng-mega-menu-panel-border-radius;
    border-bottom-right-radius: $prime-ng-mega-menu-panel-border-radius;

    .ui-megamenu-submenu {
      padding: $prime-ng-mega-menu-submenu-padding;
      color: $prime-ng-mega-menu-submenu-font-color;

      .ui-megamenu-submenu-header {
        padding: $prime-ng-mega-menu-submenu-header-padding;
        color: $prime-ng-mega-menu-submenu-header-font-color;
      }

      .ui-menuitem {
        font-size: $prime-ng-mega-menu-submenu-item-font-size;
        color: $prime-ng-mega-menu-submenu-item-font-color;

        .ui-menuitem-link {
          padding: $prime-ng-mega-menu-submenu-item-padding;
          border-radius: $prime-ng-mega-menu-submenu-item-border-radius;

          &:hover {
            background-color: $prime-ng-mega-menu-submenu-item-hover-bkg-color;
            color: $global-contrast-font-active-color;
          }
        }
      }
    }
  }
}
