// ----------------------------------------
// PICK LIST :
// ----------------------------------------

.ui-picklist {
  width: 100%;

  .ui-picklist-listwrapper {
    border-radius: $global-border-radius;
    background-color: $global-bkg-darker-color;
    width: 45%;

    .ui-picklist-caption {
      user-select: none;
    }

    .ui-picklist-list {
      width: 100%;

      .ui-picklist-item {
        border-radius: $global-border-radius;
        padding: 0px;

        &:active {
          outline: none;
        }

        &.ui-state-highlight {
          outline: 1px solid $global-accent-color;
        }
      }
    }
  }

  .ui-picklist-buttons {
    width: 10%;
    padding: 0 $global-spacing !important;

    .ui-button {
      background-color: $prime-ng-button-info-bkg-color;
      color: $prime-ng-button-info-font-color;
      border: 1px solid $prime-ng-button-info-border-color;
      width: 100%;

      &:active {
        background-color: $prime-ng-button-info-active-bkg-color;
      }
    }
  }
}
