// ----------------------------------------
// PRIMENG VARIABLES :
// ----------------------------------------

// Input :
$prime-ng-input-border-radius: $global-border-radius;
$prime-ng-input-border-color: $global-border-color;
$prime-ng-input-padding: $global-element-padding;
$prime-ng-input-font-size: $global-font-size;
$prime-ng-input-font-color: $global-font-color;
$prime-ng-input-focus-border-color: $global-accent-color;

// FlexGrid :
$prime-ng-flexgrid-item-space-between: $global-element-padding;
