// ----------------------------------------
// SELECT BUTTON :
// ----------------------------------------

.ui-selectbutton {
  border: 1px solid $global-accent-color;
  border-radius: $global-border-radius;
  overflow: hidden;
  vertical-align: middle;

  .ui-button {
    background-color: transparent;
    color: $prime-ng-button-info-font-color;
    border-radius: 0px;
    border: none;

    &.ui-state-active {
      background-color: $prime-ng-button-bkg-color;
      color: $prime-ng-button-font-color;
    }
  }
}
