// ----------------------------------------
// TABLE :
// ----------------------------------------

.ui-table {
  // border: 1px solid $prime-ng-table-border-color;
  // border-radius: $prime-ng-table-border-radius;

  .ui-table-caption {
    padding: 0px;
    margin-bottom: $prime-ng-table-caption-spacing;
    text-align: left;

    .ui-table-globalfilter-container {
      float: right;
    }
  }

  .ui-table-thead {
    > tr {
      > th {
        color: $prime-ng-table-header-font-color;
        padding: $prime-ng-table-header-padding !important;

        &.ui-state-highlight {
          text-decoration: underline;
        }
      }
    }
  }

  .ui-table-tbody {
    > tr {

      &:nth-child(2n) {
        background-color: $prime-ng-table-row-secondary-bkg-color;
      }

      &:hover {
        background-color: $prime-ng-table-row-hover-bkg-color;
      }

      &.ui-state-highlight {
        color: $prime-ng-table-row-selected-font-color;
        background-color: $prime-ng-table-row-selected-bkg-color;
      }

      &.ui-selectable-row {
        cursor: pointer;
      }

      > td {
        padding: $prime-ng-table-row-cell-padding !important;
        user-select: none;
      }
    }
  }

  .ui-paginator {
    margin-top: $prime-ng-table-paginator-margin;
    .ui-paginator-element {
      color: $prime-ng-table-paginator-button-font-color;

      &:hover {
        background-color: $prime-ng-table-paginator-button-hover-bkg-color;

        &.ui-state-disabled {
          background-color: inherit;
        }
      }

      &.ui-state-disabled {
        color: $prime-ng-table-paginator-button-disabled-font-color;
      }

      &.ui-state-active {
        font-weight: bold;
        text-decoration: underline;
      }
    }

    .ui-dropdown {
      background-color: $prime-ng-table-paginator-dropdown-bkg-color;
      border: inherit;
      width: inherit;
      text-align: left;
    }
  }
}
