// ----------------------------------------
// BUTTON :
// ----------------------------------------

.ui-tabview {
  padding: 0px !important;

  .ui-tabview-nav {
    padding: 0px !important;
    border-bottom: 1px solid $prime-ng-tabview-nav-border-color;

    .ui-tabview-selected a {
      border-color: $global-accent-color;
      color: $global-primary-font-active-color;
    }

    a {
      user-select: none;
      color: $global-primary-font-color;
      border-bottom: 2px solid transparent;
    }

    .ui-state-disabled a {
      color: $global-disabled-font-color;
    }

    :focus {
      outline: none;
    }
  }

  .ui-tabview-panel {
    width: 100%;
  }
}
