// ----------------------------------------
// TOOLBAR :
// ----------------------------------------

.ui-toolbar {
  padding: 0px !important;

  .ui-toolbar-group-left {
    > * {
      margin-right: $prime-ng-toolbar-margin-between-elements;
    }
  }

  .ui-toolbar-group-right {
    display: block;
    float: right;
    > * {
      margin-left: $prime-ng-toolbar-margin-between-elements;
    }
  }
}
