<p-toast></p-toast>
<div id="main-site-layout">
  <div class="main-site-layout-section main-site-layout-section-accent">
    <header id="main-site-layout-header">
      <img
        id="main-site-layout-header-logo"
        src="./assets/images/logo_asso.png"
        alt="Logo"
      >
      <div id="main-site-layout-title-section">
        <span id="main-site-layout-title">{{ title }}</span>
        <span id="main-site-layout-subtitle">{{ subTitle }}</span>
      </div>
    </header>
  </div>
  <div class="main-site-layout-section main-site-layout-section-dark">
    <nav id="main-site-layout-nav">
      <p-megaMenu [model]="navItems"></p-megaMenu>
    </nav>
  </div>
  <div id="main-site-layout-main-content">
    <router-outlet></router-outlet>
  </div>
  <div class="main-site-layout-section main-site-layout-section-secondary">
    <footer id="main-site-layout-footer">
      <div id="main-site-layout-footer-left">
        <p class="main-site-layout-footer-title">Association de volley-ball de Bourg-la-reine</p>
      </div>
      <div id="main-site-layout-footer-right" class="global-section">
        <p class="main-site-layout-footer-title">Accès membres</p>
        <div class="global-align-center">
          <p-button (click)="accessMemberArea()" label="Connexion"></p-button>
        </div>
      </div>
    </footer>
  </div>
</div>


