<p-confirmDialog header="Confirmation" icon="fas fa-exclamation-triangle"></p-confirmDialog>
<div class="module-container p-grid" *ngIf="team">
  <p-toolbar class="p-col-12">
    <div class="ui-toolbar-group-left">
      <p-button (click)="backNavigate()" type="button" label="Retour" icon="fas fa-arrow-left"></p-button>
      <p-button (click)="openPlayerSelectorDialog()" class="ui-button-secondary" label="Gérer les joueurs"></p-button>
      <p-button class="ui-button-secondary" label="Changer de coach"></p-button>
      <p-button (click)="openEventManagerDialog()" class="ui-button-secondary" label="Rencontres"></p-button>
    </div>
    <div class="ui-toolbar-group-right">
      <p-button (click)="deleteTeam()" type="button" label="Supprimer" icon="far fa-trash-alt" class="ui-button-danger"></p-button>
    </div>
  </p-toolbar>
  <app-team-card #teamCardComponent class="p-col-12" [team]="team"></app-team-card>
</div>
