@import "src/assets/theme/variables";

.team-match-card {
  border-radius: $global-border-radius;
  border: 1px solid $global-border-color;
  margin-bottom: $global-spacing;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $global-element-padding;
  user-select: none;

  &.selectable {
    cursor: pointer;

    &:hover {
      background-color: $global-bkg-active-color;
    }
  }

  .team-match-card-type {
    font-size: $global-font-size-small;
    color: $global-disabled-font-color;
  }
}
