<div class="p-grid">
  <span class="p-col-4 p-offset-2 global-legend">
    Coach actuel
  </span>
  <p class="p-col-4">{{ getCoachName() }}</p>

  <span class="p-col-4 p-offset-2 global-legend">
    Nouveau coach
  </span>
  <div class="p-col-4">
    <p-dropdown appendTo="body" [options]="userOptions" [(ngModel)]="newCoach"></p-dropdown>
  </div>

  <div class="global-separation p-col-12"></div>
  <p-toolbar class="p-col-12">
    <div class="ui-toolbar-group-right">
      <p-button (click)="cancel()" class="ui-button-info" label="Annuler" icon="fas fa-times"></p-button>
      <p-button (click)="close()" label="Valider" icon="fas fa-check" [disabled]="!newCoach"></p-button>
    </div>
  </p-toolbar>
</div>
