// ----------------------------------------
// IMPORTING :
// ----------------------------------------

// Theme variables :
@import "variables";
@import "primeng/primeng-variables";

// Web app layouts :
@import "main-layout/main-site-layout";
@import "management-layout/management-layout";
@import "login-layout/login-layout";

// PrimeNG :
@import "primeng/menu";
@import "primeng/megamenu";
@import "primeng/dialog";
@import "primeng/tabview";
@import "primeng/toolbar";
@import "primeng/button";
@import "primeng/selectbutton";
@import "primeng/inputswitch";
@import "primeng/togglebutton";
@import "primeng/table";
@import "primeng/editor";
@import "primeng/galleria";
@import "primeng/dropdown";
@import "primeng/inputtext";
@import "primeng/inplace";
@import "primeng/fileupload";
@import "primeng/calendar";
@import "primeng/checkbox";
@import "primeng/radiobutton";
@import "primeng/spinner";
@import "primeng/flexgrid";
@import "primeng/textarea";
@import "primeng/toast";
@import "primeng/tooltip";


// ----------------------------------------
// GLOBAL STRUCTURE :
// ----------------------------------------

html {
  height: 100%;
  width: 100%;

  body {
    font-family: $global-font;
    margin: 0px;
    height: 100%;
  }
}


// ----------------------------------------
// COMMON ITEMS :
// ----------------------------------------

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

h1 {
  margin: 0px;
}

div.global-separation {
  padding: 0px;
  margin: 0px;
  border-top: 1px solid $global-border-color;
}

label.global-form-label {
  margin: $global-spacing 0px;
  padding: $global-element-padding !important;
}

span.global-legend {
  user-select: none;
  font-size: $global-font-size-small;
  text-align: right;
  color: $global-disabled-font-color;
}
