// ----------------------------------------
// MAIN COLORS :
// ----------------------------------------

// Color pallet :
$global-pallet-color-1: #00a69c;
$global-pallet-color-2: #004e64;
$global-pallet-color-3: #b9e3c6;
$global-pallet-color-4: #706c61;
$global-pallet-color-5: #899e8b;


// Theme main pallet :
$global-bkg-color: #ffffff;
$global-bkg-darker-color: #f5f5f5;
$global-dark-color: #2b353e;
$global-accent-color: $global-pallet-color-1;
$global-disabled-bkg-color: #dadada;
$global-transparent-color: rgba(0, 0, 0, .5);
$global-transparent-darker-color: rgba(0, 0, 0, .7);

$global-bkg-active-color: #f0f0f0;
$global-bkg-darker-active-color: #eaeaea;
$global-dark-active-color: #35424d;
$global-accent-active-color: #009c91;


// Action colors :
$global-success-color: #1ea600;
$global-info-color: #e0e0e0;
$global-warning-color: #a66400;
$global-danger-color: #a60000;

$global-success-active-color: #306b00;
$global-info-active-color: #dadada;
$global-warning-active-color: #caa000;
$global-danger-active-color: #c21d00;


// Font :
$global-primary-font-color: #303030;
$global-disabled-font-color: #808080;
$global-contrast-font-color: #f0f0f0;
$global-primary-font-active-color: #000000;
$global-contrast-font-active-color: #ffffff;

$global-border-color: #dadada;


// ----------------------------------------
// MAIN VALUES :
// ----------------------------------------

// Font :
$global-font: 'Roboto';
$global-font-size: 16px;
$global-font-size-small: 14px;
$global-font-size-large: 18px;
$global-font-size-giant: 24px;
$global-font-size-title: 20px;
$global-font-icon-size: 1.2em;

// Layout :
$global-spacing: 12px;
$global-spacing-small: 6px;
$global-spacing-large: 24px;

// Elements :
$global-border-radius: 3px;
$global-container-padding: 12px 12px;
$global-element-padding: 6px 9px;
$global-element-padding-small: 3px 6px;
$global-element-padding-large: 9px 12px;
$global-element-padding-giant: 16px 24px;
$global-element-padding-title: 12px 16px;

