// Import variables
@import "login-layout-variables";


// ----------------------------------------
// LOGIN LAYOUT VARIABLES :
// ----------------------------------------

// TODO : mettre les variables dans le fichier login-layout-variables

#login-layout {
  height: 100%;
  background: url("src/assets/images/login-background.jpg") no-repeat center;
  background-size: cover;

  #login-layout-return-link {
    border: 1px solid transparent;
    border-radius: $global-border-radius;
    color: $global-contrast-font-color;
    text-decoration: none;
    padding: $global-element-padding;

    position: absolute;
    left: $global-spacing;
    top: $global-spacing;

    &:hover {
      border-color: $global-border-color;
    }

    #login-layout-return-link-icon {
      margin-right: $global-spacing;
    }

    #login-layout-return-link-label {
      font-size: $global-font-size-large;
    }
  }

  #login-layout-background {
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #login-layout-main-content {
      width: 300px;
      background-color: $global-bkg-darker-color;
      padding: $global-container-padding;
      border-radius: $global-border-radius;

      .login-layout-main-content-error-message {
        color: $global-danger-color;
        margin: 0px;
        margin-bottom: $global-spacing;
      }

      input.login-layout-main-content-field {
        display: block;
        box-sizing: border-box;
        width: 100%;
        font-size: $global-font-size;
        border-radius: $global-border-radius;
        border: 1px solid $global-border-color;
        padding: $global-element-padding-large;
        margin-bottom: $global-spacing;
      }

      #login-layout-main-content-connection-button {
        display: block;
        box-sizing: border-box;
        width: 100%;
        font-size: $global-font-size;
        color: $global-contrast-font-color;
        background-color: $global-accent-color;
        border-radius: $global-border-radius;
        border: none;
        padding: $global-element-padding-large;
        cursor: pointer;

        &:hover {
          background-color: $global-accent-active-color;
        }
      }
    }
  }
}
