<div id="login-layout">
  <div id="login-layout-background">
    <a
      id="login-layout-return-link"
      [routerLink]="['/main']"
    >
      <i id="login-layout-return-link-icon" class="fas fa-chevron-left"></i>
      <span id="login-layout-return-link-label">Retour au site</span>
    </a>
    <div class="login-layout-main-content">
      <form [formGroup]="loginForm" (submit)="signIn()">
        <p
          class="login-layout-main-content-error-message"
          *ngIf="loginErrorToggle">
          {{ loginErrorMessage }}
        </p>
        <input
          formControlName="username"
          class="login-layout-main-content-field"
          placeholder="Identifiant"
          type="text"
        >
        <input
          formControlName="password"
          class="login-layout-main-content-field"
          placeholder="Mot de passe"
          type="password"
        >
        <button
          id="login-layout-main-content-connection-button"
          [disabled]="loginForm.invalid"
        >
          Connexion
        </button>
      </form>
      <a [routerLink]="['/login/reset-password']" id="login-layout-main-content-link">Mot de passe oublié</a>
    </div>
  </div>
</div>
