<div id="login-layout">
  <div id="login-layout-background">
    <a
      id="login-layout-return-link"
      [routerLink]="['/main']"
    >
      <i id="login-layout-return-link-icon" class="fas fa-chevron-left"></i>
      <span id="login-layout-return-link-label">Retour au site</span>
    </a>
    <div id="login-layout-main-content">
      <form [formGroup]="loginForm">
        <p
          class="login-layout-main-content-error-message"
          *ngIf="loginErrorToggle">
          {{ loginErrorMessage }}
        </p>
        <p
          class="login-layout-main-content-error-message"
          *ngIf="formErrorUsernameToggle">
          {{ formErrorUsernameMessage }}
        </p>
        <input
          formControlName="username"
          class="login-layout-main-content-field"
          placeholder="Identifiant"
          type="text"
          required
        >
        <p
          class="login-layout-main-content-error-message"
          *ngIf="formErrorPasswordToggle">
          {{ formErrorPasswordMessage }}
        </p>
        <input
          formControlName="password"
          class="login-layout-main-content-field"
          placeholder="Mot de passe"
          type="password"
          required
        >
        <button
          id="login-layout-main-content-connection-button"
          (click)="signIn()"
        >
          Connexion
        </button>
      </form>
    </div>
  </div>
</div>
