<p-confirmDialog header="Renommer l'article" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-dialog header="Nouvel article" [(visible)]="renameArticleToggle" *ngIf="!loading">
  <div class="p-grid">
    <span class="p-col-12">Modifier le titre de l'article</span>
    <div class="p-col-12">
      <input #articleTitleInput type="text" [value]="article.title" pInputText>
    </div>
  </div>
  <p-footer>
    <p-toolbar>
      <div class="ui-toolbar-group-right">
        <p-button (click)="renameArticleToggle = false" class="ui-button-secondary" label="Annuler" icon="pi pi-times"></p-button>
        <p-button (click)="renameArticle(articleTitleInput.value)" label="Valider" icon="pi pi-check"></p-button>
      </div>
    </p-toolbar>
  </p-footer>
</p-dialog>
<div class="module-container p-grid" *ngIf="!loading">
  <p-toolbar class="p-col-12">
    <div class="ui-toolbar-group-left">
      <p-button (click)="backNavigate()" label="Retour" icon="pi pi-arrow-left" pTooltip="Retour à la liste des articles" tooltipPosition="bottom"></p-button>
      <p-button (click)="saveArticle()" class="ui-button-success" label="Sauvegarder" icon="pi pi-save" *ngIf="article.content !== content"></p-button>
      <p-button (click)="renameArticleToggle = true" class="ui-button-secondary" label="Renommer l'article" icon="pi pi-pencil"></p-button>
    </div>
    <div class="ui-toolbar-group-right">
      <span class="global-legend">Créé le {{ article.creationDate | date: 'shortDate' }}</span>
      <p-button (click)="deleteArticle()" class="ui-button-danger" label="Supprimer" icon="pi pi-trash"></p-button>
    </div>
  </p-toolbar>
  <div class="global-separation p-col-12"></div>
  <h1 class="p-col-12">{{ article.title }}</h1>
  <p-editor class="p-col-12" [style]="{ 'height': '500px' }" [(ngModel)]="content"></p-editor>
</div>
