<div class="module-container p-grid">
  <p-toolbar class="p-col-12">
    <div class="ui-toolbar-group-left">
      <p-button (click)="openNewTeamDialog()" label="Nouvelle équipe" icon="fas fa-plus"></p-button>
    </div>
    <div class="ui-toolbar-group-right">
    </div>
  </p-toolbar>
  <div class="global-separation p-col-12"></div>
  <p-table
    #table
    class="p-col-12"
    [value]="teams"
    [paginator]="true"
    [columns]="columns"
    [rows]="25"
    [globalFilterFields]="['name', 'category', 'coach']"
    (onRowSelect)="selectTeam($event.data)"
    selectionMode="single"
    stateStorage="session"
    stateKey="team-table"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let column of columns" [pSortableColumn]="column.field">
          {{column.column}}
          <p-sortIcon [field]="column.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let column of columns" [ngSwitch]="column.field">
          <p-dropdown
            *ngSwitchCase="'idCategory'"
            [options]="categoryOptions"
            (onChange)="table.filter($event.value, column.field, 'equals')">
          </p-dropdown>
          <input
            *ngSwitchDefault
            pInputText
            type="text"
            (input)="table.filter($event.target.value, column.field, 'contains')"
            [value]="table.filters[column.field]?.value"
            placeholder="Filtrer {{ column.column.toLowerCase() }} ..."
          />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let column of columns" [ngSwitch]="true">
          <span *ngSwitchCase="column.field === 'gender'">{{ rowData[column.field] ? 'Homme' : 'Femme' }}</span>
          <span *ngSwitchCase="column.field === 'coach'">{{ rowData['coachFirstName'] + ' ' + rowData['coachLastName'].toUpperCase() }}</span>
          <span *ngSwitchCase="column.field === 'creationDate' || column.field === 'birthDate'">{{ rowData[column.field] | date: 'shortDate' }}</span>
          <span *ngSwitchDefault>{{ rowData[column.field] }}</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
