@import "src/assets/theme/variables";

.user-role-tag {
  border-radius: $global-border-radius;
  background-color: $global-pallet-color-2;
  padding: $global-element-padding-small;
  margin: $global-spacing-small;
  margin-left: 0px;
  color: $global-contrast-font-color;
}
