<p-dialog header="Détails" [(visible)]="userDetailToggle" *ngIf="selectedUser">
  <div class="p-grid">
    <div class="p-grid">
      <span class="p-col-4 global-legend">Prénom</span>
      <span class="p-col-4">{{ selectedUser.firstName }}</span>
      <span class="p-col-4"></span>

      <span class="p-col-4 global-legend">Nom</span>
      <span class="p-col-4">{{ selectedUser.lastName }}</span>
      <span class="p-col-4"></span>

      <span class="p-col-4 global-legend">Adresse mail</span>
      <span class="p-col-4">{{ selectedUser.email }}</span>
      <span class="p-col-4"></span>

      <span class="p-col-4 global-legend">Rôle</span>
      <span class="p-col-4">
      <p-selectButton
        #roleSelect
        [options]="roleSelectOptions"
        [(ngModel)]="selectedRole"
        (onChange)="setManagerRole(selectedUser, selectedRole)">
      </p-selectButton>
      </span>
      <span class="p-col-4"></span>
    </div>
  </div>
  <p-footer>
    <p-button (click)="userDetailToggle = false" class="ui-button-info" label="Fermer" icon="fas fa-times"></p-button>
    <p-button (click)="deleteUser(selectedUser)" class="ui-button-danger" label="Supprimer" icon="far fa-trash-alt"></p-button>
  </p-footer>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="p-grid">
  <p-toolbar class="p-col-12">
    <div class="ui-toolbar-group-left">
      <p-button (click)="openNewUserDialog()" label="Utilisateur non joueur" icon="fas fa-plus"></p-button>
    </div>
  </p-toolbar>
  <p-table
    #table
    class="p-col-12"
    [value]="users"
    [paginator]="true"
    [columns]="columns"
    [rows]="25"
    [globalFilterFields]="['name', 'category', 'coach']"
    (onRowSelect)="selectUser($event.data)"
    selectionMode="single"
    stateStorage="session"
    stateKey="team-table"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let column of columns" [pSortableColumn]="column.field">
          {{column.column}}
          <p-sortIcon [field]="column.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let column of columns" [ngSwitch]="column.field">
          <input
            *ngSwitchDefault
            pInputText
            type="text"
            (input)="table.filter($event.target.value, column.field, 'contains')"
            [value]="table.filters[column.field]?.value"
            placeholder="Filtrer {{ column.column.toLowerCase() }} ..."
          />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let column of columns" [ngSwitch]="true">
          <span *ngSwitchCase="column.field === 'roles'"><span *ngFor="let role of rowData[column.field]">{{ role }}</span></span>
          <span *ngSwitchDefault>{{ rowData[column.field] }}</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
