<div id="subscription-container">
  <div class="main-site-layout-section">
    <div class="main-site-layout-section-content">
      <h1>Rejoignez-nous !</h1>
      <form [formGroup]="subscriptionForm">
        <div class="p-grid">
          <!-- FIRSTNAME -->
          <div class="p-col-4">
            <input formControlName="firstName" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Prénom</label>

          <!-- LASTNAME -->
          <div class="p-col-4">
            <input formControlName="lastName" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Nom de famille</label>

          <!-- GENDER -->
          <div class="p-col-4">
            <input formControlName="gender" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Sexe</label>

          <!-- EMAIL -->
          <div class="p-col-4">
            <input formControlName="email" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Email</label>

          <!-- BIRTHDATE -->
          <div class="p-col-4">
            <input formControlName="city" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Date de naissance</label>

          <!-- BIRTHCOUNTRY -->
          <div class="p-col-4">
            <input formControlName="city" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Pays de naissance</label>

          <!-- ADDRESS -->
          <div class="p-col-4">
            <input formControlName="address" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Adresse</label>

          <!-- PHONENUMBER -->
          <div class="p-col-4">
            <input formControlName="phoneNumber" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Numéro de téléphone</label>

          <!-- POSTCODE -->
          <div class="p-col-4">
            <input formControlName="postcode" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Code postal</label>

          <!-- CITY -->
          <div class="p-col-4">
            <input formControlName="city" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Ville</label>



          <!-- INSURANCE -->
          <div class="p-col-4">
            <input formControlName="insurance" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Souhaitez-vous prendre l'assurance supplémentaire ?</label>

          <!-- EQUIPMENT -->
          <div class="p-col-4">
            <input formControlName="equipment" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Souhaitez-vous acheter un tenue au couleurs de votre équipe ?</label>

          <!-- REQUESTEDJERSEYNUMBER -->
          <div class="p-col-4">
            <input formControlName="requestedJerseyNumber" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Votre taille de haut</label>

          <!-- TOPSIZE -->
          <div class="p-col-4">
            <input formControlName="topSize" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Votre taille de haut</label>

          <!-- PANTSIZE -->
          <div class="p-col-4">
            <input formControlName="pantSize" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Votre taille de pantalon</label>



          <!-- COACH -->
          <div class="p-col-4">
            <input formControlName="coach" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Êtes-vous un(e) entraîneur(se) ?</label>

          <!-- REFEREE -->
          <div class="p-col-4">
            <input formControlName="referee" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Êtes-vous un(e) arbitre ?</label>

          <!-- COMMENT -->
          <div class="p-col-4">
            <input formControlName="comment" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">Avez-vous autre chose à nous dire ?</label>
        </div>
        <button (click)="sendSubscription()">Envoyer l'inscription</button>
      </form>
    </div>
  </div>
</div>
