<div id="subscription-container">
  <div class="main-site-layout-section">
    <div class="main-site-layout-section-content">
      <h1>Rejoignez-nous !</h1>
      <form [formGroup]="subscriptionForm">
        <input type="text" pInputText formControlName="lastName"/><span>Nom de famille</span>
        <br>
        <input type="text" pInputText formControlName="firstName"/><span>Prénom</span>
        <br>
        <p-radioButton name="gender" value="false" label="Homme" formControlName="gender"></p-radioButton>
        <p-radioButton name="gender" value="true" label="Femme" formControlName="gender"></p-radioButton>
        <span>Sexe</span>
        <br>
        <p-calendar formControlName="birthDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050" dateFormat="dd/mm/yy"></p-calendar><span>Date de naissance</span>
        <br>
        <input type="text" pInputText formControlName="birthCountry"/><span>Pays de naissance</span>
        <br>
        <input type="text" pInputText formControlName="address"/><span>Adresse</span>
        <br>
        <input type="text" pInputText formControlName="postcode"/><span>Code postal</span>
        <br>
        <input type="text" pInputText formControlName="city"/><span>Ville</span>
        <br>
        <input type="text" pInputText formControlName="email"/><span>E-mail</span>
        <br>
        <input type="text" pInputText formControlName="phoneNumber"/><span>Numéro de téléphone</span>
        <br>
        <input type="text" pInputText formControlName="idCategory"/><span>Catégorie demandée</span>
        <br>
        <p-dropdown [options]="paymentModes" formControlName="paymentMode"></p-dropdown><span>Type de paiement</span>
        <br>
        <input type="checkbox" pInputText formControlName="insurance"/><span>Souhaitez-vous prendre une assurance ?</span>
        <br>
        <button (click)="sendSubscription()">Envoyer l'inscription</button>
      </form>
    </div>
  </div>
</div>
