<div id="subscription-container">
  <div class="main-site-layout-section">
    <div class="main-site-layout-section-content">
      <h1>Rejoignez-nous !</h1>
      <form [formGroup]="subscriptionForm" (ngSubmit)="sendSubscription()">
        <div class="p-grid">
          <!-- FIRSTNAME -->
          <div class="p-col-4">
            <input formControlName="firstName" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.firstName }}</label>

          <!-- LASTNAME -->
          <div class="p-col-4">
            <input formControlName="lastName" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.lastName }}</label>

          <!-- GENDER -->
          <div class="p-col-2">
            <p-radioButton name="gender" value="true" formControlName="gender" label="Homme"></p-radioButton>
          </div>
          <div class="p-col-2">
            <p-radioButton name="gender" value="false" formControlName="gender" label="Femme"></p-radioButton>
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.gender }}</label>

          <!-- BIRTHDATE -->
          <div class="p-col-4">
            <input formControlName="birthDate" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.birthDate }}</label>

          <!-- BIRTHCOUNTRY -->
          <div class="p-col-4">
            <input formControlName="birthCountry" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.birthCountry }}</label>

          <!-- EMAIL -->
          <div class="p-col-4">
            <input formControlName="email" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.email }}</label>

          <!-- PHONENUMBER -->
          <div class="p-col-4">
            <input formControlName="phoneNumber" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.phoneNumber }}</label>



          <!-- ADDRESS -->
          <div class="p-col-4">
            <input formControlName="address" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.address }}</label>

          <!-- POSTCODE -->
          <div class="p-col-4">
            <input formControlName="postcode" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.postCode }}</label>

          <!-- CITY -->
          <div class="p-col-4">
            <input formControlName="city" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.city }}</label>



          <!-- CATEGORY -->
          <div class="p-col-4">
            <p-dropdown [options]="categoryOptions" formControlName="idCategory"></p-dropdown>
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.idCategory }}</label>

          <!-- PAYMENT MODE -->
          <div class="p-col-4">
            <p-dropdown [options]="paymentModesOptions" formControlName="idPaymentMode"></p-dropdown>
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.idPaymentMode }}</label>



          <!-- INSURANCE -->
          <div class="p-col-4">
            <input type="checkbox" formControlName="insuranceRequested"/>
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.insuranceRequested }}</label>

          <!-- EQUIPMENT -->
          <div class="p-col-4">
            <input type="checkbox" formControlName="equipment"/>
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.equipment }}</label>

          <!-- REQUESTED JERSE NUMBER -->
          <div class="p-col-4">
            <p-spinner formControlName="requestedJerseyNumber" [min]="0" [max]="40"></p-spinner>
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.requestedJerseyNumber }}</label>

          <!-- TOPSIZE -->
          <div class="p-col-4">
            <input formControlName="topSize" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.topSize }}</label>

          <!-- PANTSIZE -->
          <div class="p-col-4">
            <input formControlName="pantSize" type="text" pInputText />
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.pantSize }}</label>



          <!-- COACH -->
          <div class="p-col-4">
            <input type="checkbox" formControlName="coach"/>
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.coach }}</label>

          <!-- REFEREE -->
          <div class="p-col-4">
            <input type="checkbox" formControlName="referee"/>
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.referee }}</label>

          <!-- COMMENT -->
          <div class="p-col-4">
            <textarea formControlName="comment" pInputTextarea></textarea>
          </div>
          <label class="global-form-label p-col-8">{{ formLabelValues.comment }}</label>
        </div>
        <button type="submit">Envoyer l'inscription</button>
      </form>
    </div>
  </div>
</div>
