// Import variables
@import "src/assets/theme/variables";

.home-article-container {

  ::ng-deep {
    img {
      width: 100%;
    }
  }

  .home-article-date {
    text-align: right;
    font-size: $global-font-size-small;
    color: $global-disabled-font-color;
  }
}
