<div id="home-container">
  <div
    class="main-site-layout-section"
    *ngFor="let article of articles"
  >
    <div class="main-site-layout-section-content home-article-container">
      <h1 class="home-article-container-title">{{ article.title }}</h1>
      <div [innerHTML]="article.content | safe: 'html'"></div>
      <p class="home-article-date">Modifié le {{ article.lastModificationDate | date: 'shortDate' }} à {{ article.lastModificationDate | date: 'shortTime' }}</p>
    </div>
  </div>
  <div class="main-site-layout-section" *ngIf="canAskMoreArticles()">
    <div class="main-site-layout-section-content global-align-center">
      <p-button (click)="loadMoreArticles()" class="ui-button-info" label="Charger plus d'articles" icon="fas fa-undo"></p-button>
    </div>
  </div>
</div>

