<div class="main-site-layout-section">
  <div class="p-grid">
    <iframe class="p-col-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2628.9273254854606!2d2.317774415900689!3d48.783277679280275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6712919279787%3A0x4b8a20198571c7c0!2sGymnase%20De%20La%20Fa%C3%AFencerie!5e0!3m2!1sfr!2sfr!4v1594568371066!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="p-col-6">
      <h1>La Faïencerie</h1>
      <p class="global-margin-top">Adresse : 30 Rue Jean Roger Thorelle, 92340 Bourg-la-Reine</p>
      <p class="global-margin-top">Taille : 2 terrains ou 1 central</p>
    </div>
  </div>
</div>
<div class="main-site-layout-section">
  <div class="p-grid">
    <div class="p-col-6">
      <h1>Evariste Galois</h1>
      <p class="global-margin-top">Adresse : 34 Rue de Fontenay, 92340 Bourg-la-Reine</p>
      <p class="global-margin-top">Taille : 3 terrains</p>
    </div>
    <iframe class="p-col-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1675.39191317392!2d2.3110753108307964!3d48.7852988649649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e670d9dd94acf9%3A0x313d97d555c5f82c!2sColl%C3%A8ge%20Evariste%20Galois!5e0!3m2!1sfr!2sfr!4v1594568725750!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>
<div class="main-site-layout-section">
  <div class="p-grid">
    <iframe class="p-col-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2628.746384322517!2d2.3109086153041916!3d48.786731891584274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e670d75cdb2e01%3A0xce00e9874deacf08!2sGymnase%20des%20Bas-Coquarts!5e0!3m2!1sfr!2sfr!4v1594568865452!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="p-col-6">
      <h1>Gymnase des Bas-Coquarts</h1>
      <p class="global-margin-top">Adresse : 8 Avenue de Montrouge, 92340 Bourg-la-Reine</p>
      <p class="global-margin-top">Taille première salle : 3 terrains ou 1 central</p>
      <p class="global-margin-top">Taille seconde salle : 3 terrains</p>
    </div>
  </div>
</div>
