// Import variables :
@import "management-layout-variables";


// ----------------------------------------
// MANAGEMENT LAYOUT VARIABLES :
// ----------------------------------------

div#management-layout {
  display: grid;
  grid-template-rows: $management-layout-header-height 1fr;
  grid-template-columns: 1fr;

  height: 100%;
  max-height: 100%;

  // Header :
  header#management-layout-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: $management-layout-header-bkg-color;
    color: $management-layout-header-font-color;
    padding: $management-layout-header-padding;

    img#management-layout-header-logo {
      height: $management-layout-header-logo-size;
      margin-right: $management-layout-header-logo-spacing;
    }

    span#management-layout-header-text {
      font-size: $management-layout-header-text-font-size;
    }

    div#management-layout-header-user {
      border: 1px solid transparent;
      border-radius: $management-layout-header-user-border-radius;
      padding: $global-element-padding;
      cursor: pointer;

      position: absolute;
      right: $global-spacing;

      &:hover {
        border-color: $management-layout-header-user-border-color;
      }

      i {
        margin-right: $management-layout-header-user-icon-margin;
        vertical-align: center;
      }

      #management-layout-header-user-label {
        font-size: $management-layout-header-user-font-size;
      }
    }
  }

  // Side nav and main content :
  div#management-layout-sidenav-layout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: $management-layout-nav-width 1fr;

    height: 100%;
    overflow: hidden;

    > * {
      height: 100%;
      width: 100%;
      overflow: auto;
    }

    // Nav :
    nav#management-layout-sidenav {
      background-color: $management-layout-nav-bkg-color;
      color: $management-layout-nav-font-color;

      // Nav group :
      ul.management-layout-sidenav-group {
        border-bottom: 3px solid $management-layout-nav-group-border-color;
        margin: 0px;
        padding: 0px;
        padding-bottom: $management-layout-nav-group-spacing;
        list-style: none;
        user-select: none;

        &:last-child {
          border-bottom: none;
          padding: inherit;
        }

        p.management-layout-sidenav-group-title {
          margin: inherit;
          padding: $management-layout-nav-group-title-padding;
          font-size: $management-layout-nav-group-font-size;
        }

        // Nav group item :
        li.management-layout-sidenav-group-item {

          a {
            background-color: $management-layout-nav-group-item-bkg-color;
            display: block;

            font-size: $management-layout-nav-group-item-font-size;
            color: $management-layout-nav-group-item-font-color;
            text-decoration: inherit;

            cursor: pointer;

            padding: $management-layout-nav-group-item-padding;
            padding-left: $management-layout-nav-group-item-indentation;

            &:hover {
              background-color: $management-layout-nav-group-item-hover-bkg-color;
              color: $management-layout-nav-group-item-hover-font-color;
            }

            &.management-layout-sidenav-group-item-selected {
              background-color: $management-layout-nav-group-item-selected-bkg-color;
              color: $management-layout-nav-group-item-selected-font-color;
            }

            i {
              text-align: center;
              width: $management-layout-nav-group-item-icon-size;
              margin-right: $management-layout-nav-group-item-icon-spacing;
            }
          }
        }
      }
    }

    // Main content :
    div#management-layout-main-container {
      background-color: $management-layout-main-content-bkg-color;
      color: $management-layout-main-content-font-color;
      font-size: $management-layout-main-content-font-size;

      box-sizing: border-box;
      padding: $management-layout-main-content-padding;
    }
  }
}


