<form [formGroup]="teamPlayerDetailForm" class="p-grid">
  <span class="p-col-4 p-offset-2 global-legend">Numéro de tel</span>
  <p class="p-col-4">{{ player.phoneNumber }}</p>

  <span class="p-col-4 p-offset-2 global-legend">Adresse</span>
  <p class="p-col-4">{{ player.address }}, {{ player.postcode }} {{ player.city }}</p>

  <div class="p-col-4 p-offset-2">
    <p-spinner min="1" max="40" formControlName="number" placeholder="Numéro souhaité: {{ player.requestedJerseyNumber }}"></p-spinner>
  </div>
  <label class="global-form-label p-col-6">
    Numéro de maillot
  </label>

  <div class="p-col-4 p-offset-2">
    <p-dropdown appendTo="body" [options]="positionOptions" formControlName="idPosition"></p-dropdown>
  </div>
  <label class="global-form-label p-col-6">
    Poste
  </label>

  <div class="p-col-4 p-offset-2 global-align-right">
    <p-button (click)="setLeader()" label="Capitaine" icon="fas fa-crown" [disabled]="player.idPlayer === team.idPlayerLeader"></p-button>
  </div>
  <label class="global-form-label p-col-6">
    Promouvoir capitaine
  </label>

  <div class="p-col-12 global-separation"></div>
  <p-toolbar class="p-col-12">
    <div class="ui-toolbar-group-left global-align-right">
      <p-button (click)="cancel()" class="ui-button-info" label="Fermer" icon="fas fa-times"></p-button>
    </div>
    <div class="ui-toolbar-group-right">
      <p-button (click)="updatePlayer()" label="Valider" icon="fas fa-check" [disabled]="!teamPlayerDetailForm.dirty || teamPlayerDetailForm.invalid"></p-button>
    </div>
  </p-toolbar>
</form>
