<div class="p-grid" *ngIf="currentSeason">
  <p-steps class="p-col-12" [model]="steps" [(activeIndex)]="activeStep" *ngIf="activeStep >= 0 && activeStep <= 3"></p-steps>
  <form class="p-col-12" [formGroup]="subscriptionForm" (ngSubmit)="sendSubscription()">
    <div class="p-grid" *ngIf="activeStep == -1">
      <h1 class="p-col-12 global-align-center">Inscription pour la saison {{ currentSeason.name }}</h1>
      <p class="p-col-12">Afin de vous inscrire, veillez à préparer les copies numériques des documents suivants :</p>
      <ul class="p-col-12 global-list">
        <li>Carte d'identité (recto ET verso)</li>
        <li>Certificat médical de moins de deux ans</li>
        <li>Photo d'identité à jour</li>
      </ul>
      <p class="p-col-12">Une question ? <a [routerLink]="['/main/contact']">Contactez-nous !</a></p>
      <div class="p-col-12 global-align-center">
        <p-button (click)="activeStep = 0" label="Commencer !"></p-button>
      </div>
    </div>

    <div class="p-grid" formGroupName="firstStep" *ngIf="activeStep === 0">
      <!-- FIRSTNAME -->
      <div class="p-col-4 p-offset-2">
        <input formControlName="firstName" type="text" pInputText />
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.firstName }}
        <span class="global-form-required">*</span>
      </label>

      <!-- LASTNAME -->
      <div class="p-col-4 p-offset-2">
        <input formControlName="lastName" type="text" pInputText />
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.lastName }}
        <span class="global-form-required">*</span>
      </label>

      <!-- GENDER -->
      <div class="p-col-2 p-offset-2">
        <p-radioButton name="gender" [value]="true" formControlName="gender" label="Homme"></p-radioButton>
      </div>
      <div class="p-col-2">
        <p-radioButton name="gender" [value]="false" formControlName="gender" label="Femme"></p-radioButton>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.gender }}
        <span class="global-form-required">*</span>
      </label>

      <!-- BIRTHDATE -->
      <div class="p-col-4 p-offset-2">
        <p-calendar
          formControlName="birthDate"
          [readonlyInput]="true"
          [locale]="calendarLanguage"
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="1900:{{ maxBirthDateValue.getFullYear() }}"
          [minDate]="minBirthDateValue"
          [maxDate]="maxBirthDateValue"
          (onSelect)="isMinor($event)"
          dateFormat="dd/mm/yy">
        </p-calendar>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.birthDate }}
        <span class="global-form-required">*</span>
      </label>

      <!-- BIRTHCOUNTRY -->
      <div class="p-col-4 p-offset-2">
        <input formControlName="nationality" type="text" pInputText />
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.nationality }}
        <span class="global-form-required">*</span>
      </label>

      <!-- EMAIL -->
      <div class="p-col-4 p-offset-2">
        <input formControlName="email" type="text" pInputText />
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.email }}
        <span class="global-form-required">*</span>
      </label>

      <!-- PHONENUMBER -->
      <div class="p-col-4 p-offset-2">
        <input formControlName="phoneNumber" type="text" pInputText />
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.phoneNumber }}
      </label>


      <!-- ADDRESS -->
      <div class="p-col-4 p-offset-2">
        <input formControlName="address" type="text" pInputText />
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.address }}
        <span class="global-form-required">*</span>
      </label>

      <!-- POSTCODE -->
      <div class="p-col-4 p-offset-2">
        <p-spinner formControlName="postcode" [min]="1000" max="100000" [step]="10" (ngModelChange)="updateCity($event)"></p-spinner>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.postcode }}
        <span class="global-form-required">*</span>
      </label>

      <div class="p-col-8 p-offset-2 global-section-fill" *ngIf="cities">
        <p>Plusieurs villes correspondent à ce code postal</p>
        <p-button
          *ngFor="let city of cities"
          (click)="setCity(city.nom)"
          label="{{ city.nom }}"
          class="ui-button-info ui-button-small global-margin-right global-margin-top"
          type="button"></p-button>
      </div>

      <!-- CITY -->
      <div class="p-col-4 p-offset-2">
        <input formControlName="city" type="text" pInputText/>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.city }}
        <span class="global-form-required">*</span>
      </label>


      <!-- CATEGORY -->
      <div class="p-col-4 p-offset-2">
        <p-dropdown [options]="categoryOptions" formControlName="idSubscriptionCategory"></p-dropdown>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.idSubscriptionCategory }}
        <span class="global-form-required">*</span>
      </label>

      <div class="p-col-12 global-separation"></div>

      <p-toolbar class="p-col-12">
        <div class="ui-toolbar-group-left">
          <p-button type="button" (click)="activeStep = -1" class="ui-button-info" label="Annuler" icon="fas fa-times"></p-button>
        </div>
        <div class="ui-toolbar-group-right">
          <p-button type="button" (click)="activeStep = 1" label="Étape suivante" icon="fas fa-arrow-right" iconPos="right" [disabled]="subscriptionForm.get('firstStep').invalid"></p-button>
        </div>
      </p-toolbar>
    </div>

    <div class="p-grid" formGroupName="secondStep" *ngIf="activeStep === 1">


      <!-- COACH -->
      <div class="p-col-4 p-offset-2 global-align-center">
        <p-checkbox formControlName="coach" [binary]="true"></p-checkbox>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.coach }}
      </label>

      <!-- REFEREE -->
      <div class="p-col-4 p-offset-2 global-align-center">
        <p-checkbox formControlName="referee" [binary]="true"></p-checkbox>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.referee }}
      </label>

      <!-- INSURANCE -->
      <div class="p-col-4 p-offset-2 global-align-center">
        <p-checkbox formControlName="insuranceRequested" [binary]="true"></p-checkbox>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.insuranceRequested }}
        <a href="http://www.ffvb.org/la-ffvb/l-assurance/" target="_blank">En savoir plus ici</a>
      </label>

      <!-- CALENDAR -->
      <div class="p-col-4 p-offset-2 global-align-center">
        <p-checkbox formControlName="calendarRequested" [binary]="true"></p-checkbox>
      </div>
      <label class="global-form-label p-col-6">{{ formLabelValues.calendarRequested }}</label>

      <!-- EQUIPMENT -->
      <div class="p-col-4 p-offset-2 global-align-center">
        <p-checkbox formControlName="equipment" [binary]="true"></p-checkbox>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.equipment }}
        <i class="fas fa-exclamation-triangle global-tooltip-icon-warning"
           [pTooltip]="requestedEquipmentTooltip"></i>
      </label>

      <!-- REQUESTED JERSEY NUMBER -->
      <div class="p-col-4 p-offset-2">
        <p-spinner formControlName="requestedJerseyNumber" [min]="1" [max]="40" [disabled]="!subscriptionForm.get('secondStep').value.equipment"></p-spinner>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.requestedJerseyNumber }}
        <i class="far fa-question-circle global-tooltip-icon"
           [pTooltip]="requestedJerseyNumberTooltip"
           *ngIf="subscriptionForm.get('secondStep').value.equipment"></i>
      </label>

      <!-- TOPSIZE -->
      <div class="p-col-4 p-offset-2">
        <p-dropdown [options]="clothingSizesOptions" formControlName="idTopSize" [disabled]="!subscriptionForm.get('secondStep').value.equipment"></p-dropdown>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.idTopSize }}
        <span class="global-form-required" *ngIf="subscriptionForm.get('secondStep').value.equipment">*</span>
      </label>

      <!-- PANTSIZE -->
      <div class="p-col-4 p-offset-2">
        <p-dropdown [options]="clothingSizesOptions" formControlName="idPantsSize" [disabled]="!subscriptionForm.get('secondStep').value.equipment"></p-dropdown>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.idPantsSize }}
        <span class="global-form-required" *ngIf="subscriptionForm.get('secondStep').value.equipment">*</span>
      </label>


      <!-- COMMENT -->
      <div class="p-col-4 p-offset-2">
        <textarea formControlName="comment" pInputTextarea></textarea>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.comment }}
      </label>

      <div class="p-col-12 global-separation"></div>

      <p-toolbar class="p-col-12">
        <div class="ui-toolbar-group-left">
          <p-button type="button" (click)="activeStep = 0" class="ui-button-info" label="Étape précédente" icon="fas fa-arrow-left" ></p-button>
        </div>
        <div class="ui-toolbar-group-right">
          <p-button
            type="button"
            (click)="activeStep = (isMinor() ? 2 : 3)"
            label="Étape suivante"
            icon="fas fa-arrow-right"
            iconPos="right"
            [disabled]="subscriptionForm.get('secondStep').invalid">
          </p-button>
        </div>
      </p-toolbar>
    </div>

    <div class="p-grid" formGroupName="thirdStep" *ngIf="activeStep === 2 && isMinor()">

      <!-- ALLOW LEAVE ALONE -->
      <div class="p-col-2 p-offset-2">
        <p-radioButton name="pc_allowToLeaveAlone" [value]="true" formControlName="pc_allowToLeaveAlone" label="Oui"></p-radioButton>
      </div>
      <div class="p-col-2">
        <p-radioButton name="pc_allowToLeaveAlone" [value]="false" formControlName="pc_allowToLeaveAlone" label="Non"></p-radioButton>
      </div>
      <label class="global-form-label p-col-6">{{ formLabelValues.pc_allowToLeaveAlone }}</label>

      <!-- ALLOW CLUB RESCUE -->
      <div class="p-col-2 p-offset-2">
        <p-radioButton name="pc_allowClubToRescue" [value]="true" formControlName="pc_allowClubToRescue" label="Oui"></p-radioButton>
      </div>
      <div class="p-col-2">
        <p-radioButton name="pc_allowClubToRescue" [value]="false" formControlName="pc_allowClubToRescue" label="Non"></p-radioButton>
      </div>
      <label class="global-form-label p-col-6">{{ formLabelValues.pc_allowClubToRescue }}</label>

      <!-- ALLOW TO TRAVEL -->
      <div class="p-col-2 p-offset-2">
        <p-radioButton name="pc_allowToTravelWithTeamMate" [value]="true" formControlName="pc_allowToTravelWithTeamMate" label="Oui"></p-radioButton>
      </div>
      <div class="p-col-2">
        <p-radioButton name="pc_allowToTravelWithTeamMate" [value]="false" formControlName="pc_allowToTravelWithTeamMate" label="Non"></p-radioButton>
      </div>
      <label class="global-form-label p-col-6">{{ formLabelValues.pc_allowToTravelWithTeamMate }}</label>

      <!-- ALLOW TO PUBLISH -->
      <div class="p-col-2 p-offset-2">
        <p-radioButton name="pc_allowToPublish" [value]="true" formControlName="pc_allowToPublish" label="Oui"></p-radioButton>
      </div>
      <div class="p-col-2">
        <p-radioButton name="pc_allowToPublish" [value]="false" formControlName="pc_allowToPublish" label="Non"></p-radioButton>
      </div>
      <label class="global-form-label p-col-6">{{ formLabelValues.pc_allowToPublish }}</label>

      <!-- ALLOW WHATSAPP -->
      <div class="p-col-2 p-offset-2">
        <p-radioButton name="pc_allowToWhatsapp" [value]="true" formControlName="pc_allowToWhatsapp" label="Oui"></p-radioButton>
      </div>
      <div class="p-col-2">
        <p-radioButton name="pc_allowToWhatsapp" [value]="false" formControlName="pc_allowToWhatsapp" label="Non"></p-radioButton>
      </div>
      <label class="global-form-label p-col-6">{{ formLabelValues.pc_allowToWhatsapp }}</label>

      <!-- UNACCOUNTABILITY -->
      <div class="p-col-4 p-offset-2 global-align-center">
        <p-checkbox formControlName="pc_unaccountability" [binary]="true"></p-checkbox>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.pc_unaccountability }}
        <span class="global-form-required">*</span>
      </label>


      <div class="p-col-12 global-separation"></div>

      <p-toolbar class="p-col-12">
        <div class="ui-toolbar-group-left">
          <p-button type="button" (click)="activeStep = 1" class="ui-button-info" label="Étape précédente" icon="fas fa-arrow-left" ></p-button>
        </div>
        <div class="ui-toolbar-group-right">
          <p-button
            type="button"
            (click)="activeStep = 3"
            label="Étape suivante"
            icon="fas fa-arrow-right"
            iconPos="right"
            [disabled]="subscriptionForm.get('thirdStep').invalid">
          </p-button>
        </div>
      </p-toolbar>
    </div>

    <div class="p-grid" formGroupName="fourthStep" *ngIf="activeStep === 3">
      <!-- CNI -->
      <div class="p-col-4 p-offset-2">
        <input type="file" (change)="cniFileHandler($event)" pInputText>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.cni }}
        <span class="global-form-required">*</span>
      </label>

      <!-- IDENTITY PHOTO -->
      <div class="p-col-4 p-offset-2">
        <input type="file" (change)="identityPhotoFileHandler($event)" pInputText>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.identityPhoto }}
        <span class="global-form-required">*</span>
      </label>

      <!-- MEDICAL CERTIFICATE -->
      <div class="p-col-4 p-offset-2">
        <input type="file" (change)="medicalCertificateFileHandler($event)" pInputText>
      </div>
      <label class="global-form-label p-col-6">
        {{ formLabelValues.medicalCertificate }}
        <span class="global-form-required">*</span>
      </label>


      <!-- PAYMENT MODES -->
      <div class="p-col-4 p-offset-2">
        <p-multiSelect [options]="paymentModesOptions" formControlName="idsPaymentMode" defaultLabel="Choisir ..."></p-multiSelect>
      </div>
      <label class="global-form-label p-col-6">{{ formLabelValues.idsPaymentMode }}
        <span class="global-form-required">*</span>
      </label>

      <div class="p-col-12 global-separation"></div>

      <p-toolbar class="p-col-12">
        <div class="ui-toolbar-group-left">
          <p-button type="button" (click)="activeStep = (isMinor() ? 2 : 1)" class="ui-button-info" label="Étape précédente" icon="fas fa-arrow-left" ></p-button>
        </div>
        <div class="ui-toolbar-group-right">
          <p-button type="submit" label="Valider l'inscription !" icon="fas fa-check" [disabled]="subscriptionForm.invalid"></p-button>
        </div>
      </p-toolbar>
    </div>

    <div class="p-grid" *ngIf="activeStep == 4">
      <h1 class="p-col-12 global-align-center">Merci {{ subscriptionForm.get('firstStep').get('firstName').value }} !</h1>
      <p class="p-col-12 global-align-center">Votre inscription a bien été prise en compte.</p>
      <p class="p-col-12 global-align-center">Un email de confirmation a été envoyé à l'adresse {{ subscriptionForm.get('firstStep').get('email').value }}.</p>
      <p-toolbar class="p-col-12">
        <div class="ui-toolbar-group-right">
          <p-button type="button" (click)="resetForm()" class="ui-button-info" label="Une autre inscription ?"></p-button>
        </div>
      </p-toolbar>
    </div>
  </form>
</div>
